<div fxLayout="row" fxLayoutAlign="center" class="filterButton">
    <button mat-raised-button color="primary" (click)="openFilterDialog()">Open Filter</button>
    <button mat-raised-button color="primary" (click)="resetFilter()"> Reset Filter</button>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <table mat-table [dataSource]="flatDataSource$$$ | async" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- arrivalTime Column -->
        <ng-container matColumnDef="arrivalTime">
            <th mat-header-cell *matHeaderCellDef> Arrival Time </th>
            <td mat-cell *matCellDef="let element"> {{element.arrivalTime}} </td>
        </ng-container>
        <!-- departureTime Column -->
        <ng-container matColumnDef="departureTime">
            <th mat-header-cell *matHeaderCellDef> Departure Time </th>
            <td mat-cell *matCellDef="let element"> {{element.departureTime}} </td>
        </ng-container>
        <!-- priceUSD Column -->
        <ng-container matColumnDef="priceUSD">
            <th mat-header-cell *matHeaderCellDef> Price ($) </th>
            <td mat-cell *matCellDef="let element"> {{element.priceUSD}} </td>
        </ng-container>
        <!-- departureDate Column -->
        <ng-container matColumnDef="departureDate">
            <th mat-header-cell *matHeaderCellDef> Departure Date </th>
            <td mat-cell *matCellDef="let element"> {{element.departureDate }} </td>
        </ng-container>

        <!-- origin Column -->
        <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef> Route </th>
            <td mat-cell *matCellDef="let element"> {{element.origin }} to {{element.destination }} </td>
        </ng-container>
        <!-- destination Column
        <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef> Destination </th>
            <td mat-cell *matCellDef="let element"> {{element.destination }} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>