<a routerLink="/populars" class="nav-link" mat-raised-button color="accent">To populars routes</a>

<section>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-radio-group aria-label="Select an option" name="tripType" formControlName="tripType" (change)="radioChanged($event)">
                <mat-radio-button value="roundTrip">Round Trip</mat-radio-button>
                <mat-radio-button value="oneWay">One Way</mat-radio-button>
            </mat-radio-group>
        </p>
        <div fxLayout.md="row">

            <mat-form-field appearance="outline">
                <mat-label>From*</mat-label>
                <input matInput placeholder="Origin" name="origin" formControlName="origin">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>required</mat-hint> -->
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>To*</mat-label>
                <input matInput placeholder="Destination" name="destination" formControlName="destination">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>


        </div>
        <div fxLayout.md="row">

            <mat-form-field appearance="outline">
                <mat-label>Depart</mat-label>
                <input matInput [matDatepicker]="departpicker" placeholder="Choose a date" name="departureDate" formControlName="departureDate" [min]="minDepartDate" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="departpicker"></mat-datepicker-toggle>
                <mat-datepicker #departpicker></mat-datepicker>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Return</mat-label>
                <input matInput [matDatepicker]="returnpicker" placeholder="Choose a date" name="returnDate" formControlName="returnDate" [min]="minReturnDate">
                <mat-datepicker-toggle matSuffix [for]="returnpicker"></mat-datepicker-toggle>
                <mat-datepicker #returnpicker></mat-datepicker>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

        </div>
        <div fxLayout.md="row">

            <mat-form-field appearance="outline">
                <mat-label>Passenger(s)</mat-label>
                <mat-select name="passengerCount" formControlName="passengerCount">
                    <mat-option *ngFor="let passe of passengers" [value]="passe">
                        {{ passe }} Adult(s)
                    </mat-option>
                </mat-select>
                <!-- <input matInput placeholder="Passengers" ngModel name="Passengers" required> -->
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Promo Code</mat-label>
                <input matInput placeholder="Promo Code" name="promoCode" formControlName="promoCode">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>


        </div>
        <br>
        <button type="submit" mat-raised-button color="accent">Search Flights</button>
    </form>
</section>