<mat-toolbar color="primary">
    <div>
        <a mat-button routerLink="/populars">
            <i class="material-icons">home</i>
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a mat-button routerLink="/populars">Back to Popular Routes </a></li>
            <li><a mat-button routerLink="/">Sign in</a></li>

        </ul>
    </div>
</mat-toolbar>

<!-- <small>Angular Material Version</small> -->

<router-outlet></router-outlet>