<br>
<div id="containcards" fxLayoutGap="10px">

    <mat-card class="onecard" *ngFor="let ruta of RutasPop">
        <mat-card-content></mat-card-content>
        <div class="imgcontain">
            <img class="img" mat-card-image src="{{ ruta.routeCoverImage }}" alt="Photo of a Shiba Inu">
        </div>

        <mat-card-header>

            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{ruta.origin}} - {{ ruta.destination}}</mat-card-title>
            <mat-card-subtitle>departure date: {{ ruta.departureDate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <div>
                <i>Always lowest fares </i>

                <!-- <strong class="Price"> ${{ ruta.price }}</strong> -->
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)=filledAform(ruta)>VIEW DEAL</button>
        </mat-card-actions>
    </mat-card>

</div>